a:hover,.nav a:hover span{color:#000;border-color:#c35}
table{border-spacing:0}
.lg a:hover{background:#e57}
#timeis_wrapper h1#pL a:hover{border-color:#c35}
.tbx a:hover,.tbx a.chosen,.tbx a.chosen:hover{border-color:#999;background:#f4f4f4;color:#666}
.tbx a:hover{border-color:#ccc}
.tbx span{color:#999}
div .hovered{border-color:#ccc;background:#f8f8f8}
input.focused,textarea.focused,div #q.focused{background:#fff;border-color:#999;color:#000}
label.focused{background:none}
#q.hovered{border-color:#ddd}
#q.focused{width:350px}
.sscr #q.focused{width:200px}
#bgimg{position:relative}

.w1{width:100%}

.arial div,.arial select,.arial .txtin,.arial .button,.arial textarea{font-family:Arial,Helvetica,sans-serif}
.arial #clock0 div,.arial #dd,.arial #pL{font-family:'Arial',Helvetica,sans-serif}
body.arialb #clock0,body.arialb #dd,body.arialb #pL{font-family:'Arial Black',Arial,Helvetica,sans-serif}
.arial h1,.arial h2,.arial h3,.arial #dd{font-weight:bold;font-style:normal}
.arial #dd,.arial #pL{font-weight:normal}
body.hn,.hn select,.hn input,.hn textarea{font-family:'HelveticaNeue-UltraLight','Helvetica Neue Ultralight','Helvetica Neue','Segoe UI Light','Calibri Light','adobe-clean',Helvetica,Arial,sans-serif}
body.hn,.hn select,.hn input,.hn textarea,.hn label,.hn h2 a,.hn h1,.hn legend,.hn #msgs h1,.hn #dd,.hn #pL,.hn em{font-weight:100}
.hn #twd,.hn #clock0,.hn #twd div{font-family:Arial,sans-serif;font-weight:bold}

#ampm{text-transform:uppercase}
#dd{cursor:pointer}
body.wb,.wb #navbtm{background:#000}
.wb a:link,.wb a:visited,.wb div.shtable p a:link,.wb div.shtable p a:visited,.wb .nav a span{color:#ccc;border-color:#333}
.wb div a:hover,.wb .nav a:hover span{color:#fff;border-color:#c35}
td.value{padding-left:20px;text-align:right}
input.num{text-align:right}
.infotable td{padding:2px 10px}
.infotable .lastrow td{border-bottom:1px solid #ccc}
.infotable{margin:20px 0}
.wb div.nav li{border-color:#333}

body .txtin.error{color:#c35;border-color:#c35}
.error li,h2.error{color:#c35;font-weight:bold}
#sizeerror{margin-top:10px;background:#c35;color:#fff;padding:0 10px}
#aub.st1 span,.wb #aub.st1 span{border-color:#c35}
.highlight{background:#eee}
#yr span{color:#888}
ul{padding:0 0 20px 20px}
li{list-style:square}
.wb .highlight,.wb #navbg,.wb .showall #navbg,.wb #navbg:hover,.wb #clock0_bg.factspage{background:#222}
.wb #lC,.wb #daydiv,.wb .lsp{color:#ccc}
.wb .divider{color:#333}

.wb .tbx a{border-color:#222;background:#222}
.wb .tbx a:hover,.wb .tbx a.chosen,.wb .tbx a.chosen:hover{background:#181818;border-color:#666;color:#fff}
.wb .tbx a:hover{border-color:#333}

.wb div .txtin,.wb .dateinput,.wb #widgetform .mout{background:#222;border:2px solid #222;color:#ccc}
input.comparelocation{width:350px;margin-top:5px;clear:both}
.loc1{margin-right:10px}
.sscr .comparelocation{width:212px}
.wb #q.blr{color:#999;border-color:#080808}
.wb #q{background:#080808}
.wb .txtin.hovered,.wb #q.hovered{border-color:#666}
.wb .txtin.focused,.wb #q.focused,.wb #widgetform .focused{background:#000;border-color:#999;color:#fff}
.wb .susdiv td{border-color:#000}
.wb div,.wb #clock0 div,.wb .susdiv a span,.wb #pL a:link,.wb #pL a:visited,.wb #dd,.wb #pL,.susdiv a:hover span,.wb .susdiv a span,.wb .caln a:link,.wb .caln a:visited,.caln th.nextp a:link,.caln th.nextp a:visited,.wb .selected{color:#fff}
.susdiv{clear:both;position:relative;z-index:9;margin-top:0px}
.susdiv table{width:374px}
.susdiv tr{background:#333;padding:0}
.susdiv td{padding:0;border-top:1px solid #fff;width:274px}
.susdiv td.t{width:100px}
.susdiv a{display:block;text-decoration:none;padding:10px;border:0}
.susdiv a span{display:block;float:none;width:264px;color:#fff;padding:0;white-space:normal;font-size:16px;line-height:18px;border:0}
.susdiv td.t span{text-align:right;width:70px}
.susdiv .chosen{background:#c35}
.sscr .susdiv table{width:224px}
.sscr .susdiv td{width:134px}
.sscr .susdiv a span{width:124px;font-size:12px;line-height:14px}
.sscr .susdiv td.t{width:90px}
.sscr .susdiv td.t span{width:60px}
.sscr #menu{padding-bottom:0}
.sscr #sg{clear:both}
.CM{padding-bottom:40px}
.CM td{border-left:1px solid #ccc;border-bottom:1px solid #ccc;text-align:center;white-space:nowrap}
.infotable td{border-top:1px solid #ccc}
.wb .infotable td,.wb .CM td{border-color:#333}
.CM .last td,.CM td.last{border-bottom:0}
.CM td.first{border-left:0}
.CM td.headline{border-bottom:2px solid #ccc;background:#eee}
.CM td a{display:block;border:none;padding:2px 20px}
.wb .CM td.headline{border-color:#333;background:#222}
.infotable tr:hover,.CM tr:hover{background:#eee}
.wb .infotable tr:hover,.wb .CM tr:hover{background:#222}
.CM h2{padding:5px 10px;font-weight:normal}
.CM h2 a:link,.CM h2 a:visited,#mapnav h1 a:link,#mapnav h1 a:visited{border-color:#eee;color:#000}
.wb h2 a:link,.wb h2 a:visited,.wb #mapnav h1 a:link,.wb #mapnav h1 a:visited{border-color:#222;color:#fff}
#map_wrapper #mapnav h1 a:hover,.CM h2 a:hover{border-color:#c35}
.CM td a{color:#000}
.CM .hl a{color:#999}
.wb .hl a{color:#fff}
.new_day{border-top:1px solid #000}
.wb td.new_day{border-top:1px solid #fff}
td.dstchange a{background:#c35;color:#fff}
div .button{float:left;border:2px solid #eee;background:#eee;color:#000;font-weight:bold;font-size:16px;padding:15px;cursor:pointer;white-space:nowrap;margin:10px 10px 0 0}
div a.smallbutton{font-size:12px;padding:5px 10px;margin:5px 5px 0 0}
div .button:hover{border-color:#ccc;background:#f4f4f4;color:#000}
.wb div .button{border-color:#333;background:#333;color:#aaa}
.wb div .button:hover,.wb div .button.focused{border-color:#444;background-color:#444;color:#fff}
div input.greenbtn {background:#3c4;border-color:#3c4}
input.blankloc{color:#aaa}
.wb input.blankloc{color:#555}
.simplify .tr{visibility:hidden}
.selected,#map_canvas div{color:#000}
.simplify #navbg:hover .tr,.simplify .tr:hover{visibility:visible}
.simplify #navbg:hover .tr{opacity:1}
.simplify.sscr .tr,.simplify .tr,.simplify .susdiv,.hide,.just .tr,.factspage #lC,.prnt{display:none}
.simplify #timewindow .tr{display:block;visibility:hidden}
.simplify #navbg,.just div#navbg,.infotable tr.nohover:hover,.wb .infotable tr.nohover:hover,.susdiv a:hover{background:none}
 label{display:block;padding-top:10px;color:#000}
.btnlbl{font-weight:normal;display:inline;padding:0}
.wb label{color:#fff}
label.blr{color:#666}
.wb label.blr{color:#999}
.checkbox{border:1px solid #999;height:15px;width:15px;padding:2px;margin-bottom:3px}
#map_canvas{z-index:1;height:2000px}
#mapnav{z-index:8;padding:2px 10px;position:absolute;right:0px;background:#fff;display:block;opacity:0.8;float:right;text-align:right}
#mapnav h1,#mapnav p{padding:0}
#mapnav h1{font-size:20px;line-height:24px}
.wb #mapnav{background:#000}
body,.caln tr.dayheaders:hover{background:#fff}
p{padding-bottom:20px}
.w{width:100%}
h2{font-size:22px;line-height:28px;font-style:normal}
h3{font-size:18px;width:100%}
.sscr .more .nav{padding-bottom:20px}
@media handheld{
#clock0 div{font-size:40px;line-height:48px}
}
#contactform .txtin,#contactform div{width:450px}
.sscr #contactform .txtin,.sscr #contactform div{width:212px}
#cv form{padding-bottom:35px}
#cv h1{padding-bottom:10px}
.calendar{width:100%}
.month{clear:none;margin:0 25px 10px 0;height:219px}
.caln table{width:100%}
.caln td,.caln th{font-size:14px;line-height:20px;text-align:right}
.caln th{text-align:center;font-size:18px;font-weight:bold;line-height:36px;color:#c35;text-transform:capitalize;border-bottom:1px solid #ccc}
.caln th a:link,.caln th a:visited{border:0}
.caln:hover th.nextp a{color:#ccc}
.caln th.nextp a:hover{color:#000}
.caln .dayheaders{font-weight:normal}
.caln .dayheaders td{padding:4px 6px 0 0;font-size:10px;color:#000;text-align:right;font-weight:bold;border-bottom:1px solid #ccc}
.caln .wn{font-weight:normal;font-size:10px;color:#999;padding-left:0;width:9px;text-align:left;white-space:nowrap}
.caln .today span{border-color:#c35;color:#000}
.caln td.chosen a span{border-color:#000;background:#eee;color:#000}
.caln a:link,.caln a:visited{display:block;color:#000;padding:2px 2px 0px 1px;text-decoration:none;border:0}
.caln a:hover span{border-color:#000;background:#f8f8f8;color:#000}
.caln td.hld a span,.wb .caln tr td.hld a span{color:#c35;font-weight:bold}
.caln a span{padding:0px 2px;width:22px;display:block;border:2px solid #fff}
.caln td.past a span{color:#999}
.caln td.past.hld a span{color:#923}
.dinfo{position:absolute;background:#f8f8f8;margin-top:8px;width:236px;border:1px solid #eee;padding:4px;font-size:12px;line-height:16px;box-shadow:5px 5px 5px #ccc;white-space:normal}
.dinfo span{color:#999}
.popc .month{margin:5px 0 0 0;position:absolute;padding:0}
.popc table.caln{background:#fff;border:1px solid #ddd;padding:0 10px 10px 10px;margin:0;box-shadow:5px 5px 9px #888}
.wb .popc table.caln{background:#000;border-color:#555}
.shtable{margin-top:20px;width:100%}
.shtable td{padding:2px 20px 2px 0}
.shtable td,.shtable a:link,.shtable a:visited,.shtable p{font-size:12px;line-height:18px;border-color:#fff}
.shtable tr:hover a,div.shtable p a:hover{color:#000;border-color:#c35;cursor:pointer}
.shtable p a:link,.shtable p a:visited{border-color:#999}
.shtable p{width:100%}
@media braille,embossed,handheld,projection,screen,tty,tv{
.wb .caln th,.wb .caln .dayheaders td{color:#fff;border-color:#555}
.wb .caln th.nextp a:link,.wb .caln th.nextp a:visited{color:#000}
.wb .caln:hover th.nextp a{color:#555}
.wb .caln th.nextp a:hover,
.wb .caln .today span,
.wb .caln a:link,.wb .caln a:visited{color:#fff}
.wb .caln .today span{border-color:#c35}
.wb .caln .past.hld a span{color:#923}
.wb .caln td.chosen a span{border-color:#fff;background:#333;color:#fff}
.wb .caln a:hover span{border-color:#fff;background:#111;color:#fff}
.wb .caln a span,.wb .shtable a:link,.wb .shtable a:visited{border-color:#000}
.wb .caln tr.dayheaders:hover{background:#000}
.wb .caln .past{color:#999}

.wb .dinfo{background:#333;border-color:#444;box-shadow:none}
.wb .shtable tr:hover a,.wb div.shtable p a:hover{color:#fff;border-color:#c35}
}
@media print{
body.wb{background:#fff}
.wb div,.wb h1,.wb h2{color:#333}
.prnt{display:block}
.calendar,.noprint,#navbg,#clock0_bg,#timeis_wrapper,.nextp,.month div,#ads,#dd,#pL,#daydiv{display:none}
#cv{width:640px}
#pheader,#pfooter,#pcal,#pheader h1{float:none;margin:0 auto;width:634px}
#pheader h1{float:left;clear:none;text-align:center;margin-bottom:40px;font-style:normal}
#pheader h1 span{border-bottom:1px solid #c35}
#pfooter img{display:block;float:right;width:92px;height:38px}
.caln th{font-size:14px;line-height:24px}
#pcal td a span{font-size:10px;line-height:14px;width:14px}
#pcal .month{clear:none;height:180px;margin-right:32px}
#pcal .caln .today span{border-color:#fff}
#pcal td.past.hld span{color:#c35}
#pcal .caln td.chosen a span{border-color:#fff;background:#fff}
#pcal .col2{margin-right:0}
.hn #pcal td.wn{font-weight:normal;font-size:8px}
.hn #pcal td a span{font-size:9px}
}


.ltab a{font-style:italic}
#custom_code{height:120px;font:12px/16px Courier,Monospace;letter-spacing:0}
.item label{padding-top:0}
fieldset .emph{background:#000}
.wb fieldset .emph{background:#fff;color:#000}
.wtab input{margin:2px 0 2px 10px}
pre{font-size:12px;padding:5px;margin-bottom:20px;background:#eee;float:left}
.wb pre{background:#222}
.tbx.leftfloat h2{float:left}
.tbx.leftfloat a{margin:0 10px 10px 0}
.ptab{background:#eee;padding:5px;margin-bottom:20px}
.wb .ptab{background:#222}
.ptab td{padding:2px 20px 2px 0;font-size:12px;line-height:18px}
.widget_examples{background:#eee;padding:20px;margin-bottom:20px;font-size:24px;line-height:32px}
.wb .widget_examples{background:#222}
.ptab td{vertical-align:top}
.bdg{clear:none;padding:0 20px 20px 0}
.bsap a{background:#eee;width:468px;height:60px;display:block;border:none;line-height:60px}
.wb .bsap a{background:#222}
.nicediff{background:#000;color:#fff;float:left;padding:0 20px}
.wb .nicediff{background:#fff;color:#000}
.txtad a:link,.txtad a:visited{display:block;padding:0 10px;background:#c35;color:#fff;white-space:nowrap}
.txtad a:hover{background:#e57}
#bannerad a:link{border:none;padding:0}
#bannerad{position:relative}
a.ldrbrd:link{display:block;float:left;width:726px;height:88px;border:1px solid #999;background:#fff;color:#c35;font-size:36px;line-height:88px;padding:0;text-align:center}
.wb a.ldrbrd:link{border:1px solid #999;background:#000}
.ldrbrd img{width:728px;height:90px}
.txtad .ldrbrd a:link,.txtad .ldrbrd a:visited{padding:0}
#imageselector a{display:block;float:left;margin:0 20px 20px 0;border:1px solid #999;background:#fff;padding:10px;box-shadow:5px 5px 10px #999}
#imageselector a:hover{border-color:#000;opacity:.8}
.wb #imageselector a:hover{border-color:#fff}
#imageselector img{width:300px;height:200px}
.greeting_card{width:600px;border:1px solid #999;background:#fff;padding:20px 20px 0 20px;margin-right:20px}
.greeting_card img{width:600px}
.greeting_card h2{overflow:hidden}
#displayed_message{position:absolute;bottom:0;font-family:'Indie Flower';font-size:22px;line-height:28px;background:#fff;color:#000;padding:10px;font-weight:normal;opacity:.8}
#displayed_message p{margin:0;padding:0}
#displayed_message.edt{opacity:.9}
#socbuttons{position:relative;width:294px;z-index:3}
#socbuttons a{position:relative}
#social_div{position:absolute;top:-11px;left:-1px;background:#fff;padding:49px 10px 2px 10px;box-shadow:5px 5px 5px #999;width:284px;z-index:1;border:1px solid #ccc}
.wb #social_div{background:#000;border-color:#333}
.faded #socbuttons.off{opacity:.2}
#pinA:hover{border:0}
.hdn{opacity:0;-webkit-transition:opacity .5s ease;-moz-transition:opacity .5s ease}
.hdn:hover{opacity:1}
#bdy,div,td,#menu span,input,textarea{-webkit-transition:border-color .2s ease,background .2s ease;-moz-transition:color .2s ease,border-color .2s ease,background .2s ease}
.lg a{-webkit-transition:background .2s ease;-moz-transition:background .2s ease}
#q{-webkit-transition:width .2s ease;transition:width .2s ease;border-radius:0}
.customize fieldset legend{float:left;padding-right:20px;text-align:right;font-family:Arial,Helvetica,sans-serif;padding-top:0px}
.customize fieldset div{max-width:500px;clear:none;float:left}
.customize li .label{width:300px;float:left}
.customize li .inp {clear:none;float:left;width:100px;}
.txtin,.dateinput{background:#eee;border:2px solid #ddd;width:138px;padding:10px;color:#333}
.txtin select,#pheader h1{float:right}
.mout{border-color:#eee}
.shadows fieldset{box-shadow:5px 5px 10px #999}
fieldset div div{margin:0;padding:0}
.wb fieldset{background:#222}
.txtin select{width:150px;background:#f8f8f8;color:#333;border:0;float:left;display:block}
.wb .txtin select{background:#222;color:#fff}
form .button{border-color:#eee}

.item{padding:0 20px 40px 0;clear:none}
#customize .item{clear:both}
#widgetform .mout{background:#fff;border-color:#fff}
.wb #widgetform .mout{background:#000}
#widgetform .focused{border-color:#999}
#widgetform #custom_code{width:100%;background:#eee}
.wb #widgetform #custom_code{background:#222}


#customize label.btnlbl{font-size:16px;line-height:20px;width:80%}

.slct{width:298px}
select{width:100%;padding:10px;line-height:20px;font-size:16px;border:1px solid #999;border-radius:0;background:#fff;color:#000}
.smaller select{line-height:32px;height:32px;width:100px}
#customize .item{padding:0 0 10px 0;margin-top:10px}
.wb #customize legend,.wb #customize fieldset{background:none}

.ltab{background:#eee;padding:10px;border:2px dotted #ccc;width:298px}
.wb .ltab{background:#222;border-color:#555}

.visible{visibility:visible;opacity:1;-webkit-transition:opacity .5s ease}
.hidden{display:none;visibility:hidden;opacity:0;-webkit-transition:visibility 0s .5s,opacity .5s ease}

.wb #customize{background:#000;border-color:#333;opacity:.6}
#mapnav select{width:150px;padding:0}


.sscr .lg a:link,.sscr .lg a:visited{width:87px;color:#fff;border:0;padding:9px 0 9px 0;text-align:center;font:italic bold 20px/17px "Times New Roman",Times,Georgia,serif}
.sscr div{letter-spacing:0}
.sscr #cvwr{padding-top:10px}
.sscr #msgs h1{font-size:24px;line-height:28px}

.sscr h1,.sscr #dd,.sscr #dd1{font-size:14px;line-height:17px}
.sscr,.sscr p,body.sscr div p,.sscr #cvwr div{font-size:14px;line-height:16px}
.sscr .tbx h2{font-size:14px;line-height:16px}
.sscr .tbx a{padding:5px 10px}

#customize{background:#fff;border:1px solid #ccc;padding:20px 40px;opacity:.8}
.sscr #customize{opacity:1}
#customize .item legend{padding-left:0}
#customize .item,#customize .item div{width:100%}

.veil{position:fixed;width:100%;height:100%;z-index:11;background:#eee;opacity:.9}
.wb .veil{background:#222}
.topcv{clear:none;float:none;max-width:380px;margin:0 auto}

#widgetform fieldset{padding:0}

.sscr .topcv{width:100%}

.cloud{text-align:center;margin-top:20px;margin-bottom:20px;line-height:40px}
.sscr .cloud{line-height:26px}

.cloud a{white-space:nowrap;margin-right:10px;vertical-align:middle}
a.capital,a.top{font-size:50px;line-height:60px}
.s1{font-size:32px;line-height:36px}
.s2{font-size:24px;line-height:28px}
.s3{font-size:23px;line-height:27px}
.s4{font-size:22px;line-height:26px}
.s5{font-size:21px;line-height:25px}
.s6{font-size:20px;line-height:24px}
.s7{font-size:19px;line-height:22px}
.s8{font-size:18px;line-height:21px}
.s9{font-size:17px;line-height:20px}
.s10,.s11,.s12,.s13,.s14,.s15,.s16{font-size:16px;line-height:19px}
.bold{font-weight:bold}
.sscr a.capital,.sscr a.top{font-size:28px;line-height:32px}
.sscr .s1{font-size:23px;line-height:26px}
.sscr .s2{font-size:22px;line-height:25px}
.sscr .s3{font-size:21px;line-height:24px}
.sscr .s4{font-size:20px;line-height:23px}
.sscr .s5{font-size:19px;line-height:22px}
.sscr .s6{font-size:18px;line-height:21px}
.sscr .s7{font-size:17px;line-height:19px}
.sscr .s8{font-size:16px;line-height:18px}
.sscr .s9{font-size:15px;line-height:17px}
.sscr .s10,.sscr .s11,.sscr .s12,.sscr .s13,.sscr .s14,.sscr .s15,.sscr .s16{font-size:14px;line-height:16px}



#footer{margin-top:20px;width:100%;background:#eee}
.wb #footer{background:#222}
#bdy.clouded div#clock0_bg{background:none}
#msgs h1{padding-bottom:0}


#fusion-wrap,.fusion-img,.fusion-text{display:block}
#fusionads a{float:left;text-align:left}
.rightad #fusionads a{float:right;text-align:right}
.fusion-poweredby{display:none}
.fusion-text{margin:22px 20px 0 20px;width:300px;white-space:normal}
#ads a#AdsbyFusion{color:#999;display:block;position:absolute;left:150px;font-size:12px;font-weight:bold;text-align:left;border:none;white-space:nowrap}
#ads.rightad a#AdsbyFusion{right:150px;left:auto;text-align:right}

#ads a:link,#ads a:visited,#ads a:hover{border:none;background:none;color:#000}
.wb #ads a:link,.wb #ads a:visited,.wb #ads a:hover{color:#fff}

.rtl .rightad a{float:left;text-align:left;direction:ltr}

#ads .rtl a#AdsbyFusion{right:150px;left:auto;text-align:right}
#ads .rtl .rightad a#AdsbyFusion{left:150px;right:auto;text-align:left}

